[submodule "rggen-verilog-rtl"]
	path = rggen-verilog-rtl
	url = https://github.com/rggen/rggen-verilog-rtl.git
[submodule "verilog-ethernet"]
	path = verilog-ethernet
	url = git@github.com:alexforencich/verilog-ethernet.git
[submodule "bus_arch_sv_pkg"]
	path = bus_arch_sv_pkg
	url = git@github.com:aignacio/bus_arch_sv_pkg.git
